<div
  class="big-design-body d-flex justify-content-{{
    loading == 0 ? 'between' : 'center'
  }} align-items-center flex-column rounded-15 border w-100"
  style="
    overflow: auto;
    resize: vertical;
    box-sizing: border-box;
    min-height: 300px;
  "
  (resized)="resize($event)"
  #parent
>
  <div class="w-100 h-100" #frame [hidden]="loading != 0">
    <table
      #table
      mat-table
      [dataSource]="dataSource ?? []"
      class="shadow-none w-100"
      cdkDropList
      (cdkDropListDropped)="drop($event)"
    >
      <ng-container matColumnDef="image">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="big-design-body text w-100 big-design-header justify-content-end p-1"
          style="background-color: rgb(240, 226, 253)"
        >
          <button
            (click)="open()"
            class="text-purple fw-bolder"
            mat-icon-button
          >
            <mat-icon>add</mat-icon>
          </button>
        </th>
        <td
          mat-cell
          *matCellDef="let element; let i = index"
          class="big-design-body d-flex justify-content-center align-items-center flex-column"
          [style.width.px]="frame.scrollWidth"
          [style.height.px]="70"
          (click)="
            open({
              nft: element,
              index:
                i + (paginator1?.pageIndex ?? 0) * (paginator1?.pageSize ?? 0)
            })
          "
        >
          <div
            class="d-flex justify-content-between align-items-center my-auto w-100"
          >
            <div
              class="d-flex justify-content-start align-items-center w-100 my-auto"
            >
              <div
                class="nft-img bg-white rounded-icon shadow d-flex justify-content-center align-items-center"
                style="
                  object-fit: contain;
                  aspect-ratio: 1;
                  bottom: 10px;
                  right: 10px;
                  overflow: hidden;
                "
              >
                <img
                  class="m-auto"
                  style="object-fit: contain; height: 90%; width: 90%"
                  [src]="element.img | safeUrl"
                  role="button"
                />
              </div>

              <p class="ms-3 my-auto text-purple text-truncate nft-max text">
                {{ element.title }}
              </p>
            </div>
            <div>
              <div
                class="rounded-circle bg-white rounded-icon shadow d-flex justify-content-center align-items-center"
                style="
                  object-fit: contain;
                  aspect-ratio: 1;
                  height: 25px;
                  overflow: hidden;
                "
              >
                <img
                  class="m-auto rounded-circle"
                  style="object-fit: contain; height: 90%; width: 90%"
                  [src]="chains[element.chainId]?.url | safeUrl"
                  role="button"
                />
              </div>
            </div>
          </div>
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="displayedColumns2; sticky: true"
        #header
      ></tr>
      <tr
        mat-row
        style="height: 70px"
        *matRowDef="let row; columns: displayedColumns2"
        cdkDrag
      ></tr>

      <tr *matNoDataRow>
        <td
          class="mat-cell border-0"
          style="height: 250px"
          [attr.colspan]="displayedColumns2.length"
        >
          <p class="w-100 text-center big-design-title my-2 text">
            No NFTs in this block.
          </p>
        </td>
      </tr>
    </table>
  </div>

  <div class="w-100 px-0 bg-white" style="bottom: 0; margin-bottom: 0" #footer>
    <mat-paginator
      *ngIf="loading == 0"
      class="mat-elevation-z0 big-design-body d-flex justify-content-center justify-content-md-end align-content-center text"
      #paginator
      [pageSizeOptions]="[num]"
      [hidePageSize]="true"
      [showFirstLastButtons]="false"
      aria-label="Select page of tokens"
    >
    </mat-paginator>
  </div>

  <ng-container *ngIf="loading == 1">
    <app-loader [mode]="'dark'"></app-loader>
  </ng-container>
</div>
