<!-- <div mat-dialog-title>Install SmartUtil</div> -->

<div class="p-0 h-100 w-100">
  <div class="w-100 h-100 d-flex justify-content-between flex-column">
    <div class="w-100 h-100 d-flex justify-content-center align-content-center">
      <div class="w-100 px-3">
        <h3 class="w-100 fw-bold mb-4" style="font-size: 20px">Network</h3>
        <div class="rounded-15 border w-100 pb-2 px-4 mb-4">
          <mat-form-field class="w-100" appearance="legacy" floatLabel="never">
            <mat-select
              [(ngModel)]="selectedChain"
              (selectionChange)="changed($event)"
              class="my-auto"
              panelClass="rounded-panel"
            >
              <mat-select-trigger class="text-dark">
                <div
                  class="w-100 d-flex justify-content-start align-items-center"
                  style="height: 22.5px"
                >
                  <img
                    id="image"
                    *ngIf="selectedChain?.url"
                    class="me-2 h-100"
                    [src]="selectedChain?.url"
                    style="object-fit: cover; aspect-ratio: 1"
                  />
                  <span class="py-1" style="font-size: medium">
                    {{ selectedChain?.name ?? "No Network Selected" }}
                  </span>
                </div>
              </mat-select-trigger>

              <mat-option
                *ngFor="let chain of item.chains ?? []"
                [value]="chain"
              >
                <div
                  class="w-100 d-flex justify-content-start align-items-center"
                  style="height: 22.5px"
                >
                  <img
                    id="image"
                    *ngIf="chain?.url"
                    class="me-2 h-100"
                    [src]="chain?.url"
                    style="object-fit: cover; aspect-ratio: 1"
                  />
                  <span class="py-1" style="font-size: medium">
                    {{ chain?.name ?? "No Network Selected" }}
                  </span>
                </div>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <h3 class="w-100 fw-bold mb-4" style="font-size: 20px">
          Install Locations
        </h3>

        <div class="rounded-15 border w-100 pb-2 px-4 mb-3">
          <mat-form-field class="w-100" appearance="legacy" floatLabel="never">
            <mat-chip-list #chipList aria-label="Product selection">
              <ng-container *ngFor="let address of selectedAddresses ?? []; index as i">
                <ng-container *ngIf="((address | addressValidate) ? 'y' : 'n') as validAddress">
                  <ng-container
                    *ngIf="
                      (
                        selectedChain?.id == 1
                          ? validAddress == 'y'
                            ? validAddress == 'y'
                            : (address | nameEnsLookup)
                          : validAddress == 'y'
                      )
                        ? 'y'
                        : 'n' as result
                    "
                  >
                    <mat-chip
                      [selectable]="selectable"
                      class="bg-{{
                        result == 'y' ? 'light-success' : 'light-danger'
                      }} close-{{i}}"
                      role="button"
                      style="opacity: 0.9"
                      [mdbPopover]="template"
                      placement="right"
                      trigger="click"
                      
                    >
                      <div class="category-chip__text text-white">
                        {{ address | address: false:address.length > 10 }}
                      </div>
                      <div
                        matChipRemove
                        class="d-flex justify-content-center align-items-center btn me-1 rounded-circle bg-{{
                          result == 'y' ? 'light-success' : 'light-danger'
                        }} text-white fw-bolder"
                        style="
                          width: fit-content;
                          aspect-ratio: 1/1;
                          opacity: 1;
                          pointer-events: none;
                        "
                      >
                        <mat-icon>
                          {{ result == "y" ? "check_circle" : "error" }}
                        </mat-icon>
                      </div>
                      <ng-template #template>
                        <div class="w-100 h-100 popover-menu menu-{{i}}">
                          <ng-container *ngIf="result == 'y'">
                            <b class="fw-bolder mb-4 text-light-success"
                              >Verified Address</b
                            >
                            <br />
                            The SmartUtil will be installed on this address.
                          </ng-container>
                          <ng-container *ngIf="result != 'y'">
                            <b class="fw-bolder mb-4 text-light-danger"
                              >Invalid Address</b
                            >
                            <br />
                            The SmartUtil will not be installed on this address.
                          </ng-container>
                          <br />
                          <div class="w-100 h-100 mt-3">
                            <a
                              (click)="remove(address, result == 'y')"
                              class="w-100 btn bg-dark text-white fw-bold rounded-3 px-4 py-2"
                            >
                              Remove
                            </a>
                          </div>
                        </div>
                      </ng-template>
                    </mat-chip>
                  </ng-container>
                </ng-container>
              </ng-container>

              <input
                class="h-100 text-dark"
                [placeholder]="
                  selectedChain?.id == 1 ? 'Ex. thred.eth' : 'Ex. 0x56...78'
                "
                #addressInput
                [formControl]="addressCtrl"
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event)"
              />

              <!-- [disabled]="data.asset" -->
            </mat-chip-list>
            <mat-autocomplete
              #auto="matAutocomplete"
              (optionSelected)="selected($event)"
            >
              <cdk-virtual-scroll-viewport
                class="autocomplete-test-viewport"
                [ngStyle]="{
                  height:
                    ((filteredAddresses | async) ?? []).length > 0
                      ? '150px'
                      : '0px'
                }"
                itemSize="35"
              >
                <mat-option
                  *cdkVirtualFor="let address of filteredAddresses | async"
                  [value]="address"
                >
                  <div
                    class="d-flex justify-content-start align-items-center w-100"
                  >
                    {{ address | address: false:address.length > 10 }}
                  </div>
                </mat-option>
              </cdk-virtual-scroll-viewport>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <div class="w-100 py-3">
          <div
            class="w-100 d-flex justify-content-between align-content-center px-1"
          >
            <span>
              {{ finalAddresses.length }} x
              {{ item.price | currency: "US":"$":"1.0-0" }}
            </span>

            <span class="fw-bold">
              {{
                item.price * finalAddresses.length > 0
                  ? (item.price * finalAddresses.length
                    | currency: "US":"$":"1.0-0")
                  : finalAddresses.length > 0
                  ? "Free"
                  : "No Location"
              }}
            </span>
          </div>
        </div>

        <div
          class="btn bg-purple text-white rounded-15 px-5 py-3 my-3 mt-3 fw-bold w-100"
          role="button"
        >
          Install
        </div>
      </div>
    </div>
  </div>
</div>
