

::ng-deep .mat-form-field-underline {
  display: none;
}

:host ::ng-deep .mat-form-field-wrapper {
  margin: 0 !important;
  padding: 0;
}


.rounded-panel.mat-select-panel{
    border-radius: 15px !important;

}