<!-- <div mat-dialog-title>Install App</div> -->

<div class="p-0 h-100 w-100 my-3">
  <div class="w-100 h-100 d-flex justify-content-between flex-column">
    <div
      class="w-100 h-100 d-flex justify-content-center align-content-center"
      *ngIf="mode == 0"
    >
      <div class="w-100 px-3 h-100">
        <div
          class="w-100 mb-5 mt-3 mt-md-2 d-none d-md-block"
          style="height: 60px; pointer-events: none"
        >
          <div
            class="h-100 d-flex justify-content-start align-items-center my-auto w-100"
          >
            <div
              class="h-100 rounded-15 shadow bg-white"
              style="aspect-ratio: 1"
            >
              <img
                class="rounded-15 w-100 h-100"
                style="object-fit: contain"
                [src]="item.displayUrls[0]"
                role="button"
              />
            </div>

            <div
              class="px-3 text-start h-100 d-flex justify-content-center align-content-center w-75"
            >
              <div class="w-100 my-auto text-truncate">
                <span class="fw-bolder my-0 mx-0" style="font-size: 16px">{{
                  item.name
                }}</span>
                <div
                  class="d-flex justify-content-start align-items-center mt-0"
                >
                  <span
                    class="fw-bold text-purple text-truncate mw-100"
                    style="font-size: 12.5px"
                    >{{ item.creatorName }}</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <h3 class="w-100 fw-bold mb-4" style="font-size: 20px">Network</h3>
        <div class="rounded-pill border w-100 pb-2 px-4 mb-4">
          <mat-form-field class="w-100" appearance="legacy" floatLabel="never">
            <mat-select
              [(ngModel)]="selectedChain"
              (selectionChange)="changed($event)"
              class="my-auto"
              panelClass="rounded-panel"
            >
              <mat-select-trigger class="text-dark">
                <div
                  class="w-100 d-flex justify-content-start align-items-center"
                  style="height: 22.5px"
                >
                  <img
                    id="image"
                    *ngIf="selectedChain?.url"
                    class="me-2 h-100"
                    [src]="selectedChain?.url"
                    style="object-fit: cover; aspect-ratio: 1"
                  />
                  <span class="py-1" style="font-size: medium">
                    {{ selectedChain?.name ?? "No Network Selected" }}
                  </span>
                </div>
              </mat-select-trigger>

              <mat-option
                *ngFor="let chain of item.chains ?? []"
                [value]="chain"
              >
                <div
                  class="w-100 d-flex justify-content-start align-items-center"
                  style="height: 22.5px"
                >
                  <img
                    id="image"
                    *ngIf="chain?.url"
                    class="me-2 h-100"
                    [src]="chain?.url"
                    style="object-fit: cover; aspect-ratio: 1"
                  />
                  <span class="py-1" style="font-size: medium">
                    {{ chain?.name ?? "No Network Selected" }}
                  </span>
                </div>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="w-100 py-3" *ngIf="item.etherPrice | formatEther as price">
          <div
            class="w-100 d-flex justify-content-between align-content-center px-1"
          >
            <ng-container *ngIf="' ' + selectedChain?.currency as currency">
              <span>
                1 x
                {{ price + currency }}
              </span>

              <span class="fw-bold">
                {{
                  ((price | numberType) ?? 0) > 0
                    ? ((price | numberType) ?? 0) + currency
                    : "Free"
                }}
              </span>
            </ng-container>
          </div>
        </div>

        <button
          class="btn bg-{{
            loading == 3
              ? 'light-success'
              : loading == 4
              ? 'danger'
              : loading == 5
              ? 'danger'
              : 'purple'
          }} text-white rounded-pill px-5 py-3 my-3 mt-3 fw-bold w-100"
          role="button"
          [disabled]="loading > 0"
          (click)="complete()"
        >
          {{
            loading == 0
              ? "Install"
              : loading == 1
              ? "Verifying"
              : loading == 2
              ? "Installing"
              : loading == 3
              ? "Installed"
              : loading == 4
              ? "Install Failed"
              : "Not Available"
          }}
          <span
            *ngIf="loading > 0 && loading < 3"
            class="spinner-border spinner-border-sm ms-1"
            role="status"
            aria-hidden="true"
          ></span>
        </button>
      </div>
    </div>
    <div class="w-100 p-2" *ngIf="mode == 1">
      <h3 class="w-100 fw-bold mb-4" style="font-size: 20px">
        Select a wallet
      </h3>
      <div class="rounded-15 w-100 border" style="overflow: hidden">
        <app-wallet-connect-component
          [providers]="['metamask', 'wallet-connect']"
          (selected)="complete($event)"
        >
        </app-wallet-connect-component>
      </div>
      <div class="w-100 text-center text-md-start mt-3">
        <button
          class="btn bg-purple text-white rounded-pill px-4 py-2 fw-bold"
          role="button"
          (click)="mode = 0; loading = 0"
        >
          Back
        </button>
      </div>
    </div>
  </div>
</div>
