<div
  class="w-100 bg-light animate__animated animate__fadeIn bg-white"
  style="height: 92.5vh"
>
  <div
    class="w-100 h-100 d-flex flex-column justify-content-center align-items-center position-relative"
  >
    <img
      class="w-100 h-100"
      [src]="'assets/auth_design.svg'"
      style="object-fit: cover"
    />
    <div
      class="position-absolute w-100 h-100 d-flex justify-content-center align-items-center px-3 pt-2 pt-md-0"
    >
      <form class="vh-80" style="width: 600px; max-width: 100%; " [formGroup]="authForm">
        <div
          class="rounded-15 bg-white big-design-card shadow h-100 w-100"
          style="z-index: 50"
        >
          <div class="w-100 big-design-header">
            <h4 class="w-100">Create an account</h4>
          </div>
          <div class="w-100 h-100 py-4">
            <div class="w-100 py-1">
                <span style="font-size: small;" class="w-100 text-start">Email</span>
                <div class="rounded-15 border w-100 pb-2 px-4 mb-2 mt-1">
                    <mat-form-field
                    class="w-100"
                    appearance="legacy"
                    floatLabel="never"
                  >
                    <input
                      class="h-100 text-dark"
                      matInput
                      type="email"
                      formControlName="email"
                      placeholder="Ex. john@thredapps.com"
                    />
                  </mat-form-field>
                </div>
            </div>
            <div class="w-100 py-1">
                <span style="font-size: small;" class="w-100 text-start">Password</span>
                <div class="rounded-15 border w-100 pb-2 px-4 mb-2 mt-1">
                    <mat-form-field
                    class="w-100"
                    appearance="legacy"
                    floatLabel="never"
                  >
                    <input
                      class="h-100 text-dark"
                      matInput
                      type="password"
                      formControlName="password"
                      placeholder="Secure Password"
                    />
                  </mat-form-field>
                </div>
            </div>
            <div class="w-100 py-1">
                <span style="font-size: small;" class="w-100 text-start">Confirm Password</span>
                <div class="rounded-15 border w-100 pb-2 px-4 mb-2 mt-1">
                    <mat-form-field
                    class="w-100"
                    appearance="legacy"
                    floatLabel="never"
                  >
                    <input
                      class="h-100 text-dark"
                      matInput
                      type="password"
                      formControlName="confirmPass"
                      placeholder="Confirm Password"
                    />
                  </mat-form-field>
                </div>
            </div>
            <div class="w-100 py-1 mt-4">
                <button class="btn bg-black rounded-15 text-white px-5 py-3 fw-bold w-100 mt-1">
                    Continue
                </button>
            </div>
            <div class="w-100 py-1 mt-3 px-2">
                <p class="w-100 text-center" style="font-size: small;">
                    By joining the <b role="button" class="fw-bold text-purple-hover">Thred Developer Program</b>, you agree to our <b role="button" class="fw-bold text-purple-hover">Terms of Service</b>.
                </p>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
