<div
  class="p-3 d-{{
    provider.mobile ? 'flex' : 'none'
  }} d-md-flex justify-content-between align-content-center w-100 hover-row"
  role="button"
  *ngFor="let provider of savedProviders"
  style="height: 80px"
  (click)="selectedProvider(provider.code)"
>
  <div class="d-flex justify-content-start align-content-center">
    <img
      class="h-100 shadow rounded-15 p-1"
      [src]="provider.img"
      style="aspect-ratio: 1"
    />
    <div class="d-flex justify-content-start align-content-center w-100 h-100">
      <span class="my-auto fw-bold ms-3 h5">
        {{ provider.name }}
      </span>
    </div>
  </div>
  <a
    class="text-secondary h-100 d-flex justify-content-center align-items-center"
    style="text-decoration: none"
  >
    <mat-icon class="my-auto">
      {{ provider.mobile ? "phone_iphone" : "computer" }}
    </mat-icon>
  </a>
</div>
