<div class="w-100 d-flex justify-content-between align-items-center" (click)="clicked.emit($event)">
  <div class="p-3 h-100 w-100">
    <div
      #col
      class="big-design-card rounded-15 h-100 w-100 zoom m-0 p-0"
      role="button"
      (mouseover)="hoverOn.emit()"
      (mouseout)="hoverOff.emit()"
      style="position: relative; min-height: 25px; overflow: hidden"
      [style.background-color]="page.backgroundColor"
    >
      <thred-block
        [id]="id"
        [block]="block"
        [active]="active"
        [page]="page"
        [defaultItems]="defaultItems"
      >
      </thred-block>
    </div>
  </div>
</div>
