.frame-container {
  overflow: hidden;
  width: 100vw;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
}

.frame-header {
  width: 100vw;
  height: 5vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 5);
}

.frame-body {
  width: 100vw;
  height: 95vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 95);
}
