.frame-container {
  overflow: hidden;
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100)
}

.frame-header {
  width: 100vw;
  height: calc(var(--vh, 1vh) * 5);
}

.frame-body {
  width: 100vw;
  height: calc(var(--vh, 1vh) * 95);
}
