<div class="rounded-pill bg-comp bar-hover w-100 h-100 position-relative">
  <div
    class="w-100 h-100 d-flex justify-content-start align-items-center glowing"
  >
    <div
      class="full-width h-100 w-100 ps-3 pe-3 d-flex justify-content-center align-items-center"
      style="font-size: small"
    >
      <input
        (input)="changed($event)"
        class="text-dark w-100 bg-transparent border-0"
        style="height: 20px"
        matInput
        placeholder="{{ placeholder }}"
        [formControl]="control"
        [matAutocomplete]="auto"
        type="text"
      />

      <mat-autocomplete #auto="matAutocomplete" [disabled]="true">

        <cdk-virtual-scroll-viewport
          class="autocomplete-test-viewport"
          *ngIf="(filteredData) ?? [] as f"
          [style.height.px]="size(f)"
          itemSize="35"
          
        >
          <mat-option
            *cdkVirtualFor="let result of filteredData"
            [value]="result.name"
            role="button"
            (click)="selected(result)"
          >
            <div
              class="d-flex justify-content-between align-items-center w-100 p-1"
            >
              <div class="d-flex justify-content-start align-items-center">
              
                <img
                  [src]="result.img"
                  class="border me-2 rounded{{ result.type == 0 ? '-circle' : '' }}"
                  style="aspect-ratio: 1; height: 30px"
                />
                <span class="px-1" style="font-size: 14px;">{{ result.name }}</span>
              </div>
              <div class="d-flex justify-content-end align-items-center">
                <mat-icon
                  role="button"
                  class="text-purple fw-bold me-0 d-flex justify-content-center align-items-center"
                  style="font-size: 20px"
                  >keyboard_arrow_right</mat-icon
                >
              </div>
            </div>
          </mat-option>
        </cdk-virtual-scroll-viewport>
      </mat-autocomplete>
    </div>
    <div class="my-0 d-flex justify-content-center align-items-center pe-2">
      <mat-icon
        *ngIf="!loading; else load"
        role="button"
        class="bg-purple text-white rounded-circle shadow d-flex justify-content-center align-items-center fw-bold"
        style="font-size: 20px"
        (click)="search()"
        >keyboard_double_arrow_right</mat-icon
      >
      <ng-template #load>
        <div
          class="d-flex justify-content-center align-items-center loading-btn rounded-circle shadow search-button"
          style="height: 24px; aspect-ratio: 1"
        >
          <span class="loader"> </span>
        </div>
      </ng-template>
    </div>
  </div>
</div>
