<div
  class="w-100 h-100 p-0 p-md-5 py-md-4 d-flex justify-content-start align-items-center flex-column position-relative"
>
  <div
    class="w-100 d-inline-flex justify-content-start align-items-start flex-column"
  >
    <div
      class="w-100 d-flex justify-content-center flex-column flex-md-row align-items-center mt-3 mt-md-0 pb-0 pb-md-1 mb-md-1 px-3 pt-md-0"
    >
      <h3
        class="fw-bold text-dark w-100 d-flex justify-content-between align-content-center"
      >
        <span class="fw-bold pt-1 text-truncate" style="max-width: 60%">
          {{ headline }}
        </span>
        <span
          class="fw-bold rounded-pill h5 btn bg-purple py-2 px-3 text-white"
          role="button"
          style="font-size: small"
          (click)="viewCategory()"
        >
          View All
        </span>
      </h3>
    </div>

    <div
      class="position-relative w-100"
      [style.height.px]="width() / (isMobile() ? 1 : cols) / 1.3"
    >
      <div
        class="h-100 d-none d-md-flex justify-content-center align-items-center position-absolute"
        style="z-index: 49; left: -0.5rem"
      >
        <div
          class="bg-white shadow rounded-circle p-1 arrow-btn"
          style="aspect-ratio: 1; width: 50px; overflow: hidden"
          role="button"
          (click)="moveLeft()"
        >
          <mat-icon
            class="w-100 h-100 d-flex justify-content-center align-content-center"
            role="button"
            style="font-size: 45px"
            >keyboard_arrow_left</mat-icon
          >
        </div>
      </div>

      <div
        class="h-100 d-flex d-md-none justify-content-center align-items-center position-absolute"
        style="z-index: 49; left: 1.5rem"
      >
        <div
          class="bg-dark shadow rounded-circle p-1 arrow-btn"
          style="aspect-ratio: 1; width: 30px; overflow: hidden"
          role="button"
          (click)="moveLeft()"
        >
          <mat-icon
            class="w-100 h-100 d-flex text-white justify-content-center align-content-center"
            role="button"
            style="font-size: 25px"
            >keyboard_arrow_left</mat-icon
          >
        </div>
      </div>

      <div
        class="h-100 d-none d-md-flex justify-content-center align-items-center position-absolute"
        style="z-index: 49; right: -0.5rem"
      >
        <div
          class="bg-white shadow rounded-circle p-1 arrow-btn"
          style="aspect-ratio: 1; width: 50px; overflow: hidden"
          role="button"
          (click)="moveRight()"
        >
          <mat-icon
            class="w-100 h-100 d-flex justify-content-center align-content-center"
            role="button"
            style="font-size: 45px"
            >keyboard_arrow_right</mat-icon
          >
        </div>
      </div>

      <div
        class="h-100 d-flex d-md-none justify-content-center align-items-center position-absolute"
        style="z-index: 49; right: 1.5rem"
      >
        <div
          class="bg-dark shadow rounded-circle p-1"
          style="aspect-ratio: 1; width: 30px; overflow: hidden"
          role="button"
          (click)="moveRight()"
        >
          <mat-icon
            class="w-100 h-100 d-flex text-white justify-content-center align-content-center"
            role="button"
            style="font-size: 25px"
            >keyboard_arrow_right</mat-icon
          >
        </div>
      </div>

      <drag-scroll
        #carousel
        class="w-100 h-100 position-absolute pb-3"
        [scrollbar-hidden]="!isMobile()"
        [snap-duration]="200"
      >
        <div
          drag-scroll-item
          class="h-100 p-3 pb-1 p-md-3 zoom"
          [style.width.%]="isMobile() ? 100 : 100 / cols"
          (click)="openItem(item.id)"
          role="button"
          *ngFor="let item of items; index as i"
        >
          <div
            class="animate__animated animate__fadeIn rounded-15 shadow d-flex flex-column justify-content-between align-items-center"
            style="overflow: hidden; height: 90%"
          >
            <img
              class="w-100 bg-white zoom-img"
              style="object-fit: cover; height: 77.5%"
              *ngIf="item?.coverUrl"
              loading="lazy"
              [useSrcset]="true"
              [defaultImage]="'/assets/default.png'"
              [lazyLoad]="item?.coverUrl ?? '/assets/default.png'"
            />
            <div
              class="w-100 bg-white d-flex justify-content-between align-items-center"
              style="height: 22.5%; bottom: 0px; right: 0px; z-index: 1"
            >
              <span
                class="p-0 ms-3 w-50 fw-bold text-truncate"
                style="font-size: medium"
              >
                {{ item.name }}
              </span>
              <div
                class="h-100 bg-white rounded-icon shadow d-flex justify-content-center align-items-center"
                style="
                  aspect-ratio: 1;
                  margin-right: 1rem;
                  margin-bottom: 2rem;
                  overflow: hidden;
                "
              >
                <img
                  class="m-auto"
                  style="object-fit: contain; height: 90%; width: 90%"
                  loading="lazy"
                  [useSrcset]="true"
                  [defaultImage]="'/assets/default.png'"
                  [lazyLoad]="(item?.displayUrls ?? [])[0]"
                  role="button"
                />
              </div>
            </div>
          </div>
        </div>
      </drag-scroll>
    </div>
  </div>
</div>
