<div
  class="w-100 bg-light animate__animated animate__fadeIn bg-white"
  style="min-height: 92.5vh"
>
  <div class="w-100 pb-4 pt-5 px-2 px-md-4 bg-light">
    <div
      class="d-flex flex-column justify-content-center align-items-center w-100"
    >
      <div
        class="bg-white rounded-icon shadow d-flex justify-content-center align-items-center"
        style="
          aspect-ratio: 1;
          margin-right: 1rem;
          margin-bottom: 0rem;
          overflow: hidden;
          height: 100px;
        "
      >
        <img
          *ngIf="dev?.url"
          class="m-auto"
          style="object-fit: contain; height: 90%; width: 90%"
          [src]="dev?.url"
          role="button"
        />
      </div>
      <div
        class="fw-bold text-dark text-center text-truncate w-100 w-md-75 h1 py-2 mt-2"
      >
        {{ dev?.name ?? "" }}
        <br />

        <div
          class="d-flex flex-column-reverse flex-md-row justify-content-center align-items-center w-100 my-md-2 mb-md-0"
        >
          <span
            class="fw-bold rounded-pill h5 btn bg-purple py-2 mt-3 mt-md-4 px-3 mx-md-1 text-white"
            (click)="scrollToRow()"
            [class.bg-transparent]="dev == undefined"
            [class.shadow-0]="dev == undefined"
          >
            {{ dev?.utils?.length ?? 0 }} Items
          </span>
          <div class="mt-3 mt-md-0 w-100 w-md-auto">
            <span
              class="d-none d-md-block fw-bold rounded-pill h5 btn bg-black py-2 mt-4 px-3 mx-1 text-white"
              (click)="scrollToRow()"
              [class.bg-transparent]="dev == undefined"
              [class.shadow-0]="dev == undefined"
            >
              Joined {{ dev?.date | date }}
            </span>
            <span
              class="d-block d-md-none h5 btn bg-transparent py-2 pt-0 px-3 text-dark shadow-0"
              (click)="scrollToRow()"
            >
              Joined {{ dev?.date | date }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="w-100 p-3 p-md-5 bg-white border-top" *ngIf="dev">
    <h3
      class="fw-bold text-dark w-100 d-flex justify-content-center justify-content-md-between align-content-center"
    >
      <span class="fw-bold pt-3 pt-md-1 text-truncate" style="max-width: 60%">
        SmartUtils
      </span>
    </h3>

    <div
      class="items-row row row-cols-1 row-cols-md-4 justify-content-start align-content-center example py-3"
      *ngIf="(dev?.utils?.length ?? 0) > 0"
    >
      <div
        class="p-3 zoom my-0"
        role="button"
        *ngFor="let item of dev?.utils ?? []; index as i"
        [style.aspect-ratio]="1 + 1 / 3"
        (click)="openItem(item.id)"
      >
        <div
          class="h-100 animate__animated animate__fadeIn rounded-15 shadow d-flex flex-column justify-content-between align-items-center"
          style="overflow: hidden"
        >
          <img
            class="w-100 bg-white zoom-img"
            style="object-fit: cover; height: 77.5%"
            *ngIf="item?.coverUrl"
            [src]="item?.coverUrl"
          />
          <div
            class="w-100 bg-white d-flex justify-content-between align-items-center"
            style="height: 22.5%; bottom: 0px; right: 0px; z-index: 1"
          >
            <span
              class="p-0 ms-3 w-50 fw-bold text-truncate"
              style="font-size: medium"
            >
              {{ item.name }}
            </span>
            <div
              class="h-100 bg-white rounded-icon shadow d-flex justify-content-center align-items-center"
              style="
                aspect-ratio: 1;
                margin-right: 1rem;
                margin-bottom: 2rem;
                overflow: hidden;
              "
            >
              <img
                class="m-auto"
                style="object-fit: contain; height: 90%; width: 90%"
                [src]="(item?.displayUrls ?? [])[0]"
                role="button"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="w-100 h-100 d-flex justify-content-center align-content-center px-4 position-relative"
      *ngIf="(dev?.utils?.length ?? 0) == 0"
    >
      <span class="mw-100 fw-bold text-truncate position-absolute text-purple px-2" style="z-index: 50; top: 195px; font-size: xx-large;">
        Nothing made yet.
      </span>
      <img
        class="w-100 position-absolute"
        style="height: 400px; object-fit: contain;"
        [src]="
          'https://storage.googleapis.com/thred-protocol.appspot.com/resources/empty.png'
        "
      />
      
    </div>
  </div>
</div>
