<div
  class="w-100 h-100 d-flex justify-content-center align-items-center position-relative"
>
  <div
    class="position-md-absolute w-100 h-100 d-flex flex-column-reverse flex-md-row justify-content-between align-items-center mt-5 mt-md-0"
    style="max-width: 80%"
    *ngIf="item"
  >
    <div class="p-2 p-md-5 text-start">
      <h1 class="fw-bolder my-0">{{ item.name }}</h1>
      <div class="d-flex justify-content-start align-items-center mt-1">
        <span
          class="fw-bold text-purple text-truncate mw-75 mw-md-50"
          style="font-size: medium"
          (click)="openDevProfile()"
          >{{ item.creatorName }}</span
        >
        <span class="fw-bold mx-1" style="font-size: medium"> • </span>
        <span class="fw-bold" style="font-size: medium" *ngIf="(item.etherPrice | formatEther) as ether">
          {{ ether != "0.0" ? ether : 'Free' }}
        </span>
      </div>
      <p class="w-100 h-100 truncate my-4" style="font-size: large">
        {{ item.description }}
      </p>

      <div
        class="d-flex flex-column flex-md-row justify-content-center justify-content-md-start align-items-center"
      >
        <a
          class="btn bg-purple text-white rounded-pill px-5 py-3 fw-bold w-100 w-md-auto"
          (click)="installItem()"
        >
          Download
        </a>
        <a
          class="btn btn-dark bg-black rounded-pill px-5 py-3 my-3 mb-5 my-md-0 mx-md-3 fw-bold w-100 w-md-auto"
          (click)="openItem(item.id)"
        >
          View Details
        </a>
      </div>
    </div>
    <div
      class="h-100 w-100 p-2 p-md-5 mb-3 mb-md-0 w-md-auto d-flex justify-content-center align-items-center"
    >
      <div
        class="position-relative h-md-75 animate__animated animate__fadeIn zoom"
        (click)="openItem(item.id)"
      >
        <img
          class="h-100 w-100 w-md-auto bg-white rounded-15 shadow"
          style="object-fit: cover; aspect-ratio: 1.5"
          *ngIf="item.coverUrl"
          [src]="item.coverUrl"
          role="button"
        />

        <div
          class="position-absolute w-md-auto bg-white rounded-icon shadow d-flex justify-content-center align-items-center"
          style="
            object-fit: contain;
            aspect-ratio: 1;
            height: 20%;
            bottom: 10px;
            right: 10px;
            overflow: hidden;
          "
        >
          <img
            class="m-auto"
            style="object-fit: contain; height: 90%; width: 90%"
            [src]="item.displayUrls[0]"
            role="button"
          />
        </div>
      </div>
    </div>
  </div>
</div>
