.truncate {
  /**Major Properties**/
  overflow: hidden;
  line-height: 2rem;
  max-height: 8rem;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  overflow: hidden !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
}


.btn-purple {
  background-color: #761de3;
  color: white;
}

.dot {
  background-color: #cecece;
  height: 15px;
  aspect-ratio: 1;
  .selected {
    background-color: #761de3;
  }
}

.blur{
    filter: blur(1.5rem);
}

.zoom{
  transition: transform .2s;
}

.zoom:hover {
  transform: scale(1.1);
}